---
title: donovandotcom
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    {% include "bundle.css" %}
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="nav-container">
        <nav>
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </nav>
      </div>
    </header>
    {{ content | safe }}
  </body>
</html>